AAK/obj/Release/_WPPLastBuildInfo.txt
AAK/obj/Release/TransformWebConfig/original/Web.config
AAK/obj/Release/TransformWebConfig/assist/Web.config
AAK/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AAK/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AAK/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AAK/obj/Release/Package/PackageTmp/packages.config
AAK/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
AAK/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
AAK/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
AAK/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
AAK/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
AAK/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
AAK/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
AAK/obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
AAK/obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
AAK/obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
AAK/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
AAK/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
AAK/obj/Release/Package/PackageTmp/bin/LoggerUtility.dll
AAK/obj/Release/Package/PackageTmp/bin/DBUtility.dll
AAK/obj/Release/Package/PackageTmp/bin/AAK.dll
AAK/obj/Release/Package/PackageTmp/Web.config
AAK/obj/Release/Package/PackageTmp/Styles/NewStyle.css
AAK/obj/Release/Package/PackageTmp/Scripts/Utilities.js
AAK/obj/Release/Package/PackageTmp/LogIn.aspx.js
AAK/obj/Release/Package/PackageTmp/LogIn.aspx
AAK/obj/Release/Package/PackageTmp/Libraries/jQuery/jquery-ui.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/jQuery/jquery-ui.min.css
AAK/obj/Release/Package/PackageTmp/Libraries/jQuery/jquery-ui.js
AAK/obj/Release/Package/PackageTmp/Libraries/jQuery/jquery-ui.css
AAK/obj/Release/Package/PackageTmp/Libraries/jQuery/jquery-1.12.0.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Moment/moment.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/js/npm.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/js/bootstrap.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/js/bootstrap.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/fonts/glyphicons-halflings-regular.woff2
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/fonts/glyphicons-halflings-regular.woff
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/fonts/glyphicons-halflings-regular.ttf
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/fonts/glyphicons-halflings-regular.svg
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/fonts/glyphicons-halflings-regular.eot
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap.min.css.map
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap.min.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap.css.map
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap-theme.min.css.map
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap-theme.min.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap-theme.css.map
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/css/bootstrap-theme.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/locale/bootstrap-table-hr-HR.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/locale/bootstrap-table-hr-HR.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/locale/bootstrap-table-en-US.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/locale/bootstrap-table-en-US.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/resizable/bootstrap-table-resizable.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/natural-sorting/bootstrap-table-natural-sorting.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/natural-sorting/bootstrap-table-natural-sorting.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/multiple-search/bootstrap-table-multiple-search.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/multiple-search/bootstrap-table-multiple-search.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/key-events/bootstrap-table-key-events.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/key-events/bootstrap-table-key-events.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by/bootstrap-table-group-by.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by/bootstrap-table-group-by.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by/bootstrap-table-group-by.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by-v2/bootstrap-table-group-by.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/group-by-v2/bootstrap-table-group-by.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/flat-json/bootstrap-table-flat-json.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/flat-json/bootstrap-table-flat-json.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/filter/bootstrap-table-filter.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/filter/bootstrap-table-filter.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/export/bootstrap-table-export.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/angular/bootstrap-table-angular.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/angular/bootstrap-table-angular.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/accent-neutralise/bootstrap-table-accent-neutralise.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/extensions/accent-neutralise/bootstrap-table-accent-neutralise.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table.min.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table-locale-all.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-table/dist/bootstrap-table-locale-all.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-multiselect/bootstrap-multiselect.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-multiselect/bootstrap-multiselect.css
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-datetimepicker/moment.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js
AAK/obj/Release/Package/PackageTmp/Libraries/Bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css
AAK/obj/Release/Package/PackageTmp/Global.asax
AAK/obj/Release/Package/PackageTmp/Desk.aspx.js
AAK/obj/Release/Package/PackageTmp/Desk.aspx
AAK/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AAK/obj/Release/AAK.pdb
AAK/obj/Release/AAK.dll
AAK/obj/Release/AAK.csprojResolveAssemblyReference.cache
AAK/obj/Release/AAK.csproj.FileListAbsolute.txt
AAK/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AAK/AAK.csproj.user
AAK/obj/Release/TransformWebConfig/transformed/Web.config
