<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnectionString" connectionString="Data Source=EMIRPC\SQL2012;Initial Catalog=AdvokatDB;User Id=sa;Password=test; Connection Timeout=60" />-->
    <!--<add name="DefaultConnectionString" connectionString="Data Source=a2wsql1.a2hosting.com\SQL6003,1433;Initial Catalog=DB_A28C19_djonko;User Id=DB_A28C19_djonko_admin;Password=Emir123!"/>-->

    <!-- Remote connection string to hosting -->
    <add name="DefaultConnectionString" connectionString="Data Source=a2wsql1.a2hosting.com;Persist Security Info=True;User ID=emir;Password=Snwo738@"/>
  </connectionStrings>
  <appSettings>
    <add key="GoogleDriveRootFolderId" value="0B5XGHYent1qWTTZGdEhOMG83Z1k" />
    <add key="ApplicationName" value="AAK" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>